/*====================
  ====  OVERALL  =====
  ====================*/
html {
  font-family: 'Open Sans Condensed';
}

body {
  background-image: url('images/unicorn.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div {
  padding: 1%;
  border: 3px solid black;
  background-color: rgba(255, 255, 255, 0.8);
}
h2 {
	display: block;
	font-size: large;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}
/*====================
  =====  DRINKS  =====
  ====================*/
div#drinks {
	position: fixed;
	left: 0vW;
	bottom: 0vw;
	width: 50vw;
	top: 5vw;
}

input#query {
  width: 100%;
}

div#drink_table {
  height: 90%;
  overflow: auto;
 
}
span.name {
	font-size: 137%;
	font-weight: bold;
}
span.name2 {
	position: absolute;
	top: 0vw;
	left: 21vw;
	font-size: 137%;
	font-weight: bold;
}
span.price {
	position: absolute;
	top: 0vw;
	left: 37vw;
	font-size: 137%;
	font-weight: bold;
}
.addbutton {
	background-image: url('images/256.png');
	background-repeat: no-repeat;
	background-size: 38%;
	background-position: 50%;
	position: absolute;
	right: 0vw;
	top: 0vw;
	bottom: 0vw;
	width: 3vw;
	border: 1px solid rgb(92, 92, 92);
	cursor: pointer;
}
/*====================
  ===  QUICK-BUY  ====
  ====================*/
div#quick_buy {
  position: fixed;
	right: 0vw;
	top: 5vw;
	width: 45vw;
	height: 18vw;
}

/*====================
  ======  CART  ======
  ====================*/
div#cart {
position: fixed;
right: 0vw;
bottom: 0vw;
width: 45vw;
height: 23vw;
}
  
div#cart_table {
position: absolute;
top: 10%;
height: 58%;
width: 90%;
overflow: auto;
}

div#cart h2{
	height: 10%;
}
div#cost_row {
	position: absolute;
	height: 22%;
	overflow: auto;
	top: 72%;
	width: 90%;
}

p#credit {
-webkit-margin-before: 1px;
-webkit-margin-after: 1px;
}
p#totalPrice {
-webkit-margin-before: 1px;
-webkit-margin-after: 1px;
}
/*====================
  ======  Menu  ======
  ====================*/
.menu {
	position: fixed;
	top: 0vw;
	left: 0vw;
	height: 2vw;
	width: 85vw;
}

.top{
	position: fixed;
	top: 0vw;
	right: 0vw;
	height: 2vw;
	width: 10vw;
}
div.item{
	position: relative;
	width: 46vw;
	border: 1px solid rgb(92, 92, 92);
}

td.remove {
}

td.subsum {
}

td.increment, td.decrease {
}


/*====================
  ======  MISC  ======
  ====================*/

button.category {
	width: 7vw;
	height: 2vw;
	font-size: 100%;
	font-weight: bold;
}
button.categoryClicked {
	width: 7vw;
	height: 2vw;
	font-weight: bold;
	font-size: 100%;
	background-color: red;
}
button#logout {
	position: absolute;
	right: 1vw;
	height: 2vw;
	width: 4vw;
	font-size: 95%;
	font-weight: bold;
}
select#theme {
	position: absolute;
	font-size: 100%;
	height: 2vw;
}
div#search {
	font-size: 100%;
	font-weight: bold;
}
th.item, td.item {
  min-width: 4em;
  
}
