/*====================
  ====  OVERALL  =====
  ====================*/
html {
  font-family: 'Open Sans Condensed';
}

body {
  background-image: url('images/unicorn.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div {
  padding: 1%;
  border: 3px solid black;
  background-color: rgba(255, 255, 255, 0.8);
}
h2 {
	display: block;
	font-size: large;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}
/*====================
  =====  DRINKS  =====
  ====================*/
div#drinks {
	position: fixed;
	left: 0vW;
	bottom: 0vw;
	width: 50vw;
	top: 5vw;
}

input#query {
	position: absolute;
	bottom: 0.2vw;
	width: 97%;
}

div#drink_table {
  bottom: 1vw;
  overflow: auto;
  position: absolute;
  top: 5vw;
  width: 48vw;
}
div#search {
	position: absolute;
	width: 48vw;
	height: 2vw;
	font-size: 100%;
	font-weight: bold;
}
span.name {
	font-size: 137%;
	font-weight: bold;
}
span.name2 {
	position: absolute;
	top: 0vw;
	left: 21vw;
	font-size: 137%;
	font-weight: bold;
}
span.price {
	position: absolute;
	top: 0vw;
	left: 37vw;
	font-size: 137%;
	font-weight: bold;
}
.outOfStock{
	color: rgb(173,173,173);
}
.addbutton {
	background-image: url('images/256.png');
	background-repeat: no-repeat;
	background-size: 38%;
	background-position: 50%;
	position: absolute;
	right: 0vw;
	top: 0vw;
	bottom: 0vw;
	width: 3vw;
	border: 1px solid rgb(92, 92, 92);
	cursor: pointer;
}
.outOfStockButton {
  background-image: url('images/Redcross.png');
  background-repeat: no-repeat;
  background-size: 38%;
  background-position: 50%;
  position: absolute;
  right: 0vw;
  top: 0vw;
  bottom: 0vw;
  width: 3vw;
  border: 1px solid rgb(92, 92, 92);
}
/*====================
  ===  QUICK-BUY  ====
  ====================*/
div#quick_buy {
	position: fixed;
	right: 0vw;
	top: 5vw;
	width: 45vw;
	bottom: 26vw;
	overflow: auto;
}
div.quick {
  width: 43vw;
}
/*====================
  ======  CART  ======
  ====================*/
div#cart {
position: fixed;
right: 0vw;
bottom: 0vw;
width: 45vw;
height: 23vw;
}

div#cart_table {
position: absolute;
top: 15%;
height: 52%;

overflow: auto;
left: 1vw;
  right: 1vw;
}

div#cart h2{
	height: 10%;
}
div#cost_row {
	position: absolute;
	height: 22%;
	overflow: auto;
	top: 72%;
	left: 1vw;
  right: 1vw;
}

p#credit {
-webkit-margin-before: 1px;
-webkit-margin-after: 1px;
}
p#totalPrice {
-webkit-margin-before: 1px;
-webkit-margin-after: 1px;
}

button.pay {
    position: fixed;
    left: 75%;
    bottom: +5px;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    background: #ffffff;
    padding: 12.5px 25px;
    color: #000000;
    font-size: 18px;
    font-family: Georgia, Serif;
}

button.pay:active {
	width: 7vw;
	height: 2vw;
	font-weight: bold;
	font-size: 100%;
	background-color: red;
}

button.pay2 {
    position: fixed;
    left: 84%;
    bottom: +5px;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    background: #ffffff;
    padding: 12.5px 25px;
    color: #000000;
    font-size: 18px;
    font-family: Georgia, Serif;
}
button.pay2:hover {
  -webkit-box-shadow: inset 0 0 3px #0F0;
  -ms-box-shadow: inset 0 0 3px #0F0;
  box-shadow: inset 0 0 3px #0F0;
}
button.pay2:active {
  background: #AAFAAA;
  text-shadow: 1px 1px 3px #FFF;
  border: 1px solid black;
  width: 7vw;
  height: 2vw;
}

div#command {
  position: absolute;
  top: 1vw;
 
  right: 1vw;
  left: 33vw;
}
/*============================
  ======  Menu, filter  ======
  ============================*/
.menu {
	position: fixed;
	top: 0vw;
	left: 0vw;
	height: 2vw;
	width: 80vw;
}
div.category {
	padding: 0;
	width: 7vw;
	height: 2vw;
	font-size: 100%;
	font-weight: bold;
	float: left;
	margin-right: 0.5vw;
	text-align: center;
	padding-top: 0.5vw;
}
div.categoryClicked {
	padding: 0;
	width: 7vw;
	height: 2vw;
	font-size: 100%;
	font-weight: bold;
	float: left;
	margin-right: 0.5vw;
	text-align: center;
	padding-top: 0.5vw;
	background-color: red;
}

/*==========================
  ======  Menu, right ======
  ==========================*/
.top{
	position: fixed;
	top: 0vw;
	right: 0vw;
	height: 2vw;
	width: 15vw;
}
div.item{
	position: relative;
	
	border: 1px solid rgb(92, 92, 92);
	background-image: none !important;
}
button#logout {
	position: absolute;
	right: 1vw;
	height: 2vw;
	width: 4vw;
	font-size: 95%;
	font-weight: bold;
}
select#theme {
	position: absolute;
	font-size: 100%;
	height: 2vw;
	right: 6vw;
}



/*====================
  ======  MISC  ======
  ====================*/
td.remove {
}

td.subsum {
}

td.increment, td.decrease {
}


th.item, td.item {
  min-width: 4em;

}



