/*====================
  ====  GENERAL  =====
  ====================*/
html {
  font-family: 'Open Sans Condensed';
}

body {
  background-image: url('images/pirate_ship.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div {
  padding: 1%;
  background-color: #FFF;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  opacity: 0.9;
}

div > h2 {
  height:10%;
  margin:0;
}

/* Prevent text of draggable elements to be selectable */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

/*====================
  =====  DRINKS  =====
  ====================*/
div#drinks {
  position: fixed;
  top: 10%;
  left: 6.66%;
  width: 50%;
  height: 80%;
}
div.item {
  width: 20%;
  height: 160pt;
  margin: 1%;
  border: 1pt solid black;
  float: left;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
div.item:hover {
  -webkit-box-shadow: inset 0 0 3px #0F0;
  -ms-box-shadow: inset 0 0 3px #0F0;
  box-shadow: inset 0 0 3px #0F0;
}
span.name, span.name2, span.price {
  display: block;
  background-color: white;
}
div#search {
  height: 5%;
}

input#query {
  width: 100%;
}

div#drink_table {
  height: 85%;
  overflow-x: hidden;
  overflow-y: auto;
}

table#drink_table {
  width: 100%;
  height: 100%;
}

/*====================
  ===  QUICK-BUY  ====
  ====================*/
div#quick_buy {
  position: fixed;
  top: 10%;
  right: 5%;
  width: 30%;
  height: 40%;
  overflow: auto;
}

/*====================
  ======  CART  ======
  ====================*/
div#cart {
  position: fixed;
  top: 55%;
  right: 5%;
  width: 30%;
  height: 35%;
}

div#cart > h2 {
  height:10%;
  margin:0;
}

div#cart_table {
  margin-top: 0%;
  height: 90%;
  overflow: auto;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

div#cart_table td {
  height: 40px;
}

table#cart_table {
  width: 100%;
  height: 100%;
}

/*====================
  ======  Menu  ======
  ====================*/
#menu{
	position: fixed;
	left: 6.66%;
  width: 50%;
  top: 1%;
	height: 5%;
	width: 50%;
}
.top{
	position: fixed;
	right: 5%;
	width: 30%;
	height: 5%;
}
/*====================
  ======  MISC  ======
  ====================*/
button {
  opacity: 1;
}
button.category {
  background: white;
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  text-shadow: 1px 1px 3px #FFF;
  border: 1px solid black;
  width: 7vw;
  height: 2vw;
}
button.category:hover {
  -webkit-box-shadow: inset 0 0 3px #0F0;
  -ms-box-shadow: inset 0 0 3px #0F0;
  box-shadow: inset 0 0 3px #0F0;
}
button.categoryClicked {
  background: #AAFAAA;
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  text-shadow: 1px 1px 3px #FFF;
  border: 1px solid black;
  width: 7vw;
  height: 2vw;
}

th.item, td.item {
  min-width: 4em;
}
