/*====================
  ====  OVERALL  =====
  ====================*/
html {
  font-family: 'Open Sans Condensed';
}

body {
  background-image: url("http://th07.deviantart.net/fs71/PRE/f/2011/326/d/c/tintin_and_the_secret_of_the_unicorn_by_o0hayatokun0o-d4gxqk1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div {
  padding: 1%;
  background-color: #FFF;
  border-radius: 15px;
}
/*====================
  =====  DRINKS  =====
  ====================*/
div#drinks {
  position: fixed;
  top: 10%;
  left: ;
  width: 40%;
  height: 80%;
}

input#query {
  width: 100%;
}

div#drink_table {
  height: 80%;
  overflow: auto;
}

/*====================
  ===  QUICK-BUY  ====
  ====================*/
div#quick_buy {
  position: fixed;
  top: 100px;
  right: 0px;
  width: 40%;
  height: 40%;
  overflow: auto;
}

/*====================
  ======  CART  ======
  ====================*/
div#cart {
  position: fixed;
  top: 60%;
  right: 0px;
  width: 40%;
  height: 30%;
}

div#cart_table {
  height: 80%;
  overflow: auto;
}

td.remove {
}

td.subsum {
}

td.increment, td.decrease {
}


/*====================
  ======  MISC  ======
  ====================*/
button.item {
  width: 16em;
  height: 4em;
}

th.item, td.item {
  min-width: 4em;
}
